html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.contenedor {
    max-width: 150rem;
    margin: 0 auto 0 auto;
}

.colornav {
    background-color: #fff;
    color: #000;
}

.BarraNav {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    margin: 1.5rem;
    padding: 0.5rem;
    color: #000;
}

nav a:hover {
    transition: 1s;
    color: #fff;
    background-color: #069C54;
    border-radius: 1rem;
    padding: 0.5rem;
}

.item .imgc {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

h2 {
    margin: 0;
    text-align: center;
}

.card {
    height: 40rem;
    margin: 1rem;
    padding: 1rem;
}

.footer-card {
    height: 30rem;
    padding: 1rem;
}

.SeparadorV {
    height: 0.5rem;
    width: 100%;
    background-color: #000;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.precio {
    text-align: center;
    font: bold;
    font-size: 2rem;
}

.publicidad {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/imagenes/seccionP.jpg');
    height: 70vh;
    width: 100%;
}