html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.contenedor {
    max-width: 150rem;
    margin: 0 auto 0 auto;
}

.colornav {
    background-color: #069C54;
}

.BarraNav {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 1rem;
    font-size: 2rem;
    color: #ffff;
}