html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.contenedor {
    max-width: 150rem;
    margin: 0 auto 0 auto;
}

.colornav {
    background-color: #fff;
    color: #000;
}

.BarraNav {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin: 5px;
    color: #000;
    color: #f00;
}

a:hover, a:focus {
    background-size: 100% 2px;
}


.item .imgc {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

h2 {
    margin: 0;
    text-align: center;
}

.card {
    height: 40rem;
    margin: 1rem;
    padding: 1rem;
}

.footer-card {
    height: 30rem;
    padding: 1rem;
}

.SeparadorV {
    height: 0.5rem;
    width: 100%;
    background-color: #000;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.precio {
    text-align: center;
    font: bold;
    font-size: 2rem;
}

.publicidad {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/imagenes/seccionP.jpg');
    height: 70vh;
    width: 100%;
}

