html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.contenedor {
    max-width: 150rem;
    margin: 0 auto 0 auto;
}

.colornav {
    background-color: #fff;
    color: #000;
}

.BarraNav {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

nav li{
    display: inline-block;
    line-height: 50px;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
    color: #000;
    margin: 5px;
}

<<<<<<< HEAD
.slidier img {
    width: 98.9vw;
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-P {
    display: flex;
    justify-content: space-between;
}

.card {
    margin: 2rem;
    width: 10rem;
    height: 10rem;
    border: #069C54 solid 1rem;
}
=======
nav a:hover {
    background: #7c7e7e;
}
>>>>>>> 72cd35ec0f0b09b50b7a315c28f60ab3323e6b52
